body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    
}
form{
    border: 1px solid black;
    display: inline-block;
    padding: 50px;
    text-align: center;
}
#form1{
    margin-top: 300px;
    text-align: center;
    align-items: center;

}
input{
    margin: 5px;
}

#colums {
    background-color: rgb(4, 24, 29);
    width: 100px;
    height: 100%;
    text-align: center;
    padding-right: 160px;
    padding-bottom: 100%;
    float: left;
    
}

#colums a {
    text-decoration: none;
    color: white;
    cursor: pointer;
    margin-top: 80px;
    display: inline-block;
    margin-left: 80px;
    
}

#endbtn{
    margin-top: 200px;
    
}
#graphic{
    padding: 0;
    margin-top:250px;
    margin-left: 250px;
    width: 300px;
    float: left;
    
}
#user{
    margin-left: 700px;
    padding-top: 300px;
    float: left;
    font-size: 17px;
    text-align: center;
}
#user1{
    width: 150px;
}

#logo{
    width: 250px;
    margin-left: 20px;
    float: left;
}