body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#colums {
    background-color: rgb(4, 24, 29);
    width: 100px;
    height: 100%;
    text-align: center;
    padding: 80px;
    padding-bottom: 100%;
    float: left;
}

button {
    color: white;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    margin-top: 45px;
    display: inline-block;
}

#endbtn{
    margin-top: 200px;
}
#graphic{
    padding: 0;
    margin-top:250px;
    margin-left: 250px;
    width: 300px;
    float: left;
    
}
#user{
    margin-left: 700px;
    padding-top: 300px;
    float: left;
    font-size: 17px;
    text-align: center;
}
#user1{
    width: 150px;
}
